<div class="slider" slider>
    <ul class="slides">
        <li>
            <img src="http://economia.ucr.ac.cr/sites/default/files/styles/juicebox_small/public/imagenes/dsc_0004.jpg?itok=5vHqW2Ya"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://mbaessaysamples.com/media/2015/10/MBA-essay-application.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
                <img src="http://www.jcnet.com.br/banco_imagem/images/cultura/livros_digitais_-_donatas1205_Shutterstock.jpg"> <!-- random image -->
                <div class="caption left-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>

<div class="container">
	<div class="row">
		<div class="col s12">
			  <nav>
			    <div class="nav-wrapper indigo">
			      <form>
			        <div class="input-field">
			          <input id="search" type="search" required placeholder="Buscar">
			          <label for="search"><i class="material-icons">search</i></label>
			          <i class="material-icons">close</i>
			        </div>
			      </form>
			    </div>
			  </nav>
		</div>
		<div class="col s12 m6 l7">
			<div class="card-panel">
				<h3>Acerca de</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus illo, dicta unde excepturi modi dolore, optio natus dolorem, itaque libero vel eum vitae ut provident! Pariatur tempora itaque, molestiae?</p>
			</div>
		</div>
		<div class="col s12 m6 l5">
			<ul class="collection with-header z-depth-1">
		        <li class="collection-header">
		        	<h4 class="indigo-text">Destacado</h4>
		        </li>
		        <li class="collection-item truncate">
		        	<a href="#/">
		        		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut hic ipsum similique, aut amet, quibusdam saepe quasi cupiditate dicta enim veniam! Nulla ullam sed iusto, quae labore amet id consectetur!	
		        	</a>
		        </li>
		        <li class="collection-item truncate">
		        	<a href="#/">
		        		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur neque odit optio magnam beatae incidunt quam minima ab magni, maiores, sed, voluptatem ut fugiat totam vitae quos dolor architecto expedita.	
		        	</a>
		        </li>
		        <li class="collection-item truncate">
		        	<a href="#/">
		        		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam corporis molestiae sequi debitis ad ullam blanditiis incidunt possimus, suscipit ipsum delectus unde temporibus laboriosam deleniti! Provident labore, consequuntur est?	
		        	</a>
		        </li>
		        <li class="collection-item truncate">
		        	<a href="#/">
		        		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut neque dolorem accusamus ex porro fuga doloribus sed voluptatibus, repellendus ea. Tenetur hic praesentium voluptatem dolorem debitis vel cumque dignissimos animi.	
		        	</a>
		        </li>
		      </ul>
		</div>
	</div>
</div>
