<div class="row">
	<div class="col s12">
		<div class="card-panel">
			<h2 class="center-align light-green-text text-darken-3">Lista de trabajos</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quis dolorum officia eius veritatis alias assumenda, saepe fuga nesciunt, quos, eligendi unde nobis. Distinctio dolor atque ea vitae maiores, sit.
			</p>
                    
		</div>
        <!--{{list}}-->
        <ul class="collapsible" data-collapsible="accordion" watch>
            <li class="active">
                <div class="collapsible-header active orange white-text">
                    <i class="material-icons left">settings</i>
                    Segmentación
                </div>
                <div class="collapsible-body card-panel">
                    <form action="" class="row">
                        <div class="col s12 m12 l3">
                            <h5>Años</h5>
                            Publicado 
                            <span ng-hide="yearsRank.start[0] == yearsRank.start[1]">
                                entre <b>{{yearsRank.start[0]}}</b> y <b>{{yearsRank.start[1]}}</b>
                            </span>
                            <span ng-show="yearsRank.start[0] == yearsRank.start[1]">
                                en <b>{{yearsRank.start[0]}}</b>
                            </span>
                            <br>
                            <br>
                            <div ya-no-ui-slider='yearsRank' style="margin-bottom: 65px"></div>
                        </div>
                        <div class="col s12 m4 l3">
                            <h5>Agrupar por</h5>
                            <ul>
                                <li>
                                    <input type="checkbox" class="filled-in" id="grade" checked="checked" />
                                    <label for="grade">Grado académico</label> 
                                </li>
                                <li>
                                    <input type="checkbox" class="filled-in" id="type"/>
                                     <label for="type">Tipo de trabajo</label>   
                                </li>
                            </ul>

                            <h5>Ordenar por</h5>
                            <ul>
                                <li>
                                    <input class="with-gap" name="group1" type="radio" id="publicationYear" checked="checked" />
                                    <label for="publicationYear">Fecha de publicación</label>
                                </li>
                                <li>
                                    <input class="with-gap" name="group1" type="radio" id="workName"  />
                                    <label for="workName">Nombre</label>
                                </li>
                            </ul>         
                        </div>
                        <div class="col s12 m4 l3">
                            <h5>Tipos de trabajo</h5>
                            <ul>
                                <li class="truncate">
                                    <input type="checkbox" class="filled-in" id="type1" checked="checked" />
                                    <label for="type1">Seminario de Graduación</label> 
                                </li>
                                <li class="truncate">
                                    <input type="checkbox" class="filled-in" id="type2" checked="checked" />
                                    <label for="type2">Práctica Dirigida</label>     
                                </li>
                                <li class="truncate">
                                    <input type="checkbox" class="filled-in" id="type3" checked="checked" />
                                    <label for="type3">Proyecto de Graduación</label>  
                                </li>
                                <li class="truncate">
                                    <input type="checkbox" class="filled-in" id="type4" checked="checked" />
                                    <label for="type4">Tesis</label>   
                                </li>
                            </ul>
                        </div>
                        <div class="col s12 m4 l3">
                            <h5>Grados académicos</h5>
                            <ul>
                                <li class="truncate">
                                    <input type="checkbox" class="filled-in" id="grade1" checked="checked" />
                                    <label for="grade1">Licenciatura</label>
                                </li>
                                <li class="truncate">
                                    <input type="checkbox" class="filled-in" id="grade2" checked="checked" />
                                    <label for="grade2">Maestría</label> 
                                </li>
                                <li class="truncate">
                                    <input type="checkbox" class="filled-in" id="grade3" checked="checked" />
                                    <label for="grade3">Doctorado</label> 
                                </li>
                            </ul>
                        </div>
                        <div class="col s12">
                            <input type="text" placeholder="Filtrar por nombre">
                        </div>
                    </form>
                </div>
            </li>
        </ul>
	</div>
	<div class="col s12 m6 l4" ng-repeat="work in list">
		<ul class="collection with-header z-depth-1">
        <li class="collection-header">
            <h4>{{work.title}}</h4>
        </li>
        <li class="collection-item">
            <div>
                Citas: {{work.quotations}}
                <a href="#!" class="secondary-content">
                    <i class="material-icons">send</i>
                </a>
            </div>
        </li>
        <li class="collection-item">
            <div>
                Alvin
                <a href="#!" class="secondary-content">
                    <i class="material-icons">send</i>
                </a>
            </div>
            </li>
        <li class="collection-item">
            <div>
                Alvin
                <a href="#!" class="secondary-content">
                    <i class="material-icons">send</i>
                </a>
            </div>
            </li>
        <li class="collection-item">
            <div>Eliminar
                <button ng-click="delete(work.id)" class="btn right btn-floating">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </li>
      </ul>
	</div>
</div>
<button class="btn" ng-click="showFrom = !showFrom">
    show
</button>
<div ng-show="showFrom">
    <input type="text" ng-model="newWork.title" placeholder="title">
    <input type="text" ng-model="newWork.signarute" placeholder="signarute">
    <input type="text" ng-model="newWork.mothodology" placeholder="mothodology">
    <input type="text" ng-model="newWork.publication_date" placeholder="publication_date">
    <!--<input type="text" ng-model="newWork.type_id" placeholder="type_id">
    <input type="text" ng-model="newWork.degree_id" placeholder="degree_id">-->
    <button ng-click="submit()">Enviar</button>
</div>