<div class="row">

	<div class="col s12 m8">
		<div class="card row">
			<img src="assets/img/photo-orange.jpg" style="padding: 0;" class="col s12 m4">
			<div class="col s12 m8">
				<span class="grey-text right" ng-if="!editingMode" style="margin: 10px;">
					Ingresado {{author.created_at | timeAgo}}
					<br />
					Modficado {{author.updated_at | timeAgo}}
				</span>
				<div ng-hide="editingMode">
					<h4>
						<small>
							{{author.name}} 
						</small>
						<br>
						{{author.fisrt_last_name}} {{author.second_last_name}} 
					</h4>
					<p>
						Iniciales <b>{{author.initials}}</b>
					</p>
					<p>
						País de origen <b>{{author.country.name}}</b>
					</p>
				</div>
				<form class="row" ng-show="editingMode" style="margin-top: 15px">
					<div class="input-field col s6">
						<input id="name" type="text" class="validate" ng-model="authorTemp.name">
						<label for="name">Nombre</label>
					</div>
					<div class="input-field col s6">
						<input id="fisrt_last_name" type="text" class="validate" ng-model="authorTemp.fisrt_last_name">
						<label for="fisrt_last_name">Primer Apellido</label>
					</div>
					<div class="input-field col s6">
						<input id="second_last_name" type="text" class="validate" ng-model="authorTemp.second_last_name">
						<label for="second_last_name">Segundo Apellido</label>
					</div>
					<div class="input-field col s6">
						<input id="initials" type="text" class="validate" ng-model="authorTemp.initials">
						<label for="initials">Iniciales</label>
					</div>
					<select class="col s6" ng-model="authorTemp.country" material-select watch ng-options="country.name for country in countries track by country.name">
					</select>
				</form>
			</div>
		</div>
		<div class="card">
			<ul class="tabs indigo" tabs>
            	<li class="tab col s3">
	            	<a class="white-text active" href="#test1" ng-class="{'text-lighten-2':hover1}" ng-mouseleave="hover1 = false" ng-mouseenter="hover1 = true">
						<span>
							De graduación
						</span>
	            	</a>
	            </li>
	            <li class="tab col s3">
	            	<a class="white-text" href="#test2" ng-class="{'text-lighten-2':hover2}" ng-mouseleave="hover2 = false" ng-mouseenter="hover2 = true">
						Escritos generales
	            	</a>
	            </li>
	            <div class="indicator white" style="z-index:1"></div>
	        </ul>
	        <table class="striped" id="test1" >
				<thead>
					<tr>
						<th data-field="id">Titulo</th>
						<th data-field="name">Tipo</th>
						<th data-field="price">Grado</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Impacto de las telecominicaciones del el medio ambiente</td>
						<td>Tesis</td>
						<td>Licenciatura</td>
					</tr>
					<tr>
						<td>Impacto de las telecominicaciones del el medio ambiente</td>
						<td>Tesis</td>
						<td>Licenciatura</td>
					</tr>
					<tr>
						<td>Impacto de las telecominicaciones del el medio ambiente</td>
						<td>Tesis</td>
						<td>Licenciatura</td>
					</tr>
				</tbody>
			</table>
			<table class="striped" id="test2">
				<thead>
					<tr>
						<th data-field="id">Titulo</th>
						<th data-field="name">Tipo</th>
						<th data-field="price">Año de publiación</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Como conocí a tu madre</td>
						<td>Resvista</td>
						<td>2011</td>
					</tr>
					<tr>
						<td>Como conocí a tu madre</td>
						<td>Resvista</td>
						<td>2011</td>
					</tr>
					<tr>
						<td>Como conocí a tu madre</td>
						<td>Resvista</td>
						<td>2011</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col s12 m4">
		<ul class="collection card">
			<li class="collection-item">
				<h5 class="orange-text">
					Correos
				</h5>
			</li>
			<li class="collection-item grey-text center" ng-hide="( !editingMode && author.emails.length != 0) || (editingMode && authorTemp.emails.length!= 0)">
				<i class="material-icons"  style="font-size: 70px">email</i>
				<br>
				<b  style="font-size: 1.2em">No se ha ingresado ningún correo</b>
			</li>
			<li class="collection-item indigo-text" ng-repeat="email in author.emails track by $index" ng-hide="editingMode"> 
				<i class="material-icons left">email</i>
				<b class="">{{email}}</b>
			</li>
			<li class="collection-item row" ng-repeat="email in authorTemp.emails track by $index" ng-show="editingMode">
				<div class="input-field col s10">
					<input id="email" type="text" class="validate" ng-model="authorTemp.emails[$index]">
					<label for="email">Dirección de correo</label>
				</div>
				<a class="btn-floating waves-effect waves-light right" ng-click="authorTemp.emails.splice($index, 1)"> 
					<i class="material-icons">delete</i>
				</a>
			</li>
			<li cl"collection-item row" ng-show="editingMode">
				<a class="btn-floating btn-large waves-effect waves-light red right" ng-click="authorTemp.emails.push('')"> 
					<i class="material-icons">add</i>
				</a>
			</li>
		</ul>
		<ul class="collection card">
			<li class="collection-item">
				<h5 class="orange-text">
					Afiliaciones
				</h5>
			</li>
			<li class="collection-item grey-text center" ng-hide="( !editingMode && author.affiliations.length != 0) || (editingMode && authorTemp.affiliations.length!= 0)">
				<i class="material-icons"  style="font-size: 70px">school</i>
				<br>
				<b  style="font-size: 1.2em">No se ha ingresado ningúna afiliación</b>
			</li>
			<li class="collection-item indigo-text" ng-repeat="affiliation in author.affiliations track by $index" ng-hide="editingMode"> 
				<i class="material-icons left">school</i>
				<b class="">{{affiliation}}</b>
			</li>
			<li class="collection-item row" ng-repeat="affiliation in authorTemp.affiliations track by $index" ng-show="editingMode">
				<div class="input-field col s10">
					<input id="affiliation" type="text" class="validate" ng-model="authorTemp.affiliations[$index]">
					<label for="affiliation">Institución</label>
				</div>
				<a class="btn-floating waves-effect waves-light right" ng-click="authorTemp.affiliations.splice($index, 1)"> 
					<i class="material-icons">delete</i>
				</a>
			</li>
			<li class="collection-item" ng-show="editingMode">
				<a class="btn-floating btn-large waves-effect waves-light red right" ng-click="authorTemp.affiliations.push('')"> 
					<i class="material-icons">add</i>
				</a>
			</li>
		</ul>
		<ul class="collection card">
			<li class="collection-item">
				<h5 class="orange-text">
					Pasantías
				</h5>
			</li>
			<li class="collection-item grey-text center" ng-hide="( !editingMode && author.interships.length != 0) || (editingMode && authorTemp.interships.length!= 0)">
				<i class="material-icons"  style="font-size: 70px">work</i>
				<br>
				<b  style="font-size: 1.2em">No se ha ingresado ningúna pansatía</b>
			</li>
			<li class="collection-item indigo-text" ng-repeat="intership in author.interships track by $index" ng-hide="editingMode"> 
				<i class="material-icons left">work</i>
				<b class="">{{intership}}</b>
			</li>
			<li class="collection-item row" ng-repeat="intership in authorTemp.interships track by $index" ng-show="editingMode">
				<div class="input-field col s10">
					<input id="intership" type="text" class="validate" ng-model="authorTemp.interships[$index]">
					<label for="intership">Institución</label>
				</div>
				<a class="btn-floating waves-effect waves-light right" ng-click="authorTemp.interships.splice($index, 1)"> 
					<i class="material-icons">delete</i>
				</a>
			</li>
			<li cl"collection-item row" ng-show="editingMode">
				<a class="btn-floating btn-large waves-effect waves-light red right" ng-click="authorTemp.interships.push('')"> 
					<i class="material-icons">add</i>
				</a>
			</li>
		</ul>
	</div>
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<button 
			tooltipped
			data-position="top"
			data-tooltip="Guardar"
			class="btn-large waves-effect green btn-floating" 
			ng-show="showSave && editingMode" 
			ng-click="save()">
			<i class="material-icons large left">save</i>
		</button>

		<button
			tooltipped
			data-position="top"
			data-tooltip="{{(editingMode)?'Salir':'Editar'}}"
			class="btn-large waves-effect btn-floating" 
			ng-click="edit()" 
			ng-class="editingMode?'blue':'green'">
			<i class="large material-icons left">{{(editingMode)?'exit_to_app':'mode_edit'}}</i>
		</button>
	</div>